* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}
header {
  margin: 15px;
}
h1 {
  display: inline-block;
  position: absolute;
  font-size: 35px;
}
main {
  margin: 5% 0 0 20%;
}
#button {
  color: white;
  width: 85px;
  height: 30px;
  background-color: rgb(39, 142, 252);
  border-radius: 5px;
  border: none;
}
#section {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid rgba(143, 143, 143, 0.711);
}
li,
.section-spacing {
  margin-bottom: 20px;
}
h2 {
  display: inline-block;
  line-height: 50px;
}
ul {
  list-style-type: none;
  padding-left: 5px;
}

.check-style,
.cross-style {
  color: rgb(0, 164, 0);
  border: 2px solid;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 10px;
  margin-right: 6px;
  padding-right: 1px;
}
.cross-style {
  color: crimson;
}
.tag {
  font-size: 8px;
  color: white;
  padding: 6px;
  border-radius: 8px;
}
.editorial {
  background-color: rgb(39, 142, 252);
}
.q1-goals {
  background-color: rgb(117, 20, 181);
}
.recruiting {
  background-color: rgb(42, 148, 86);
}
.mobile {
  background-color: rgb(206, 134, 0);
}
.website {
  background-color: rgb(176, 0, 123);
}
.series {
  background-color: rgb(113, 169, 0);
}
